.SideDrawer{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    max-width: 70%;
    z-index: 200;
    box-sizing: border-box;
    background-color: #703B09;
    padding: 24px 24px;
    transition: transform 0.3s ease-out;
}

.Logo{
    height: 6%;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    box-sizing: border-box;
}

@media (min-width: 500px){
    .SideDrawer{
        display: none;
    }
}

.open{
    transform: translateX(0);
}

.close{
    transform: translateX(-100%);
}